body{font-family:sans-serif; background-color: #ffb142; color: white; text-align: center;font-size: 30px}
nav a{padding:10px ; text-decoration: none; color: white; font-size:20px; border: 1px solid red; border-radius: 10px; background-color: red;
}
